*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: maroon;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-gen{
    background: #fff;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 10px 10px 10px rgba(42, 8, 8, 0.9);
}

.quote-gen h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote-gen blockquote{
    text-align: center;
    padding-top: 30px;
    color: red;
    font-size: 18px;
}

.quote-gen blockquote::after, .quote-gen blockquote::before{
    content: '"';
}

#at-name{
    position: relative;
}

#at-name span{
    position: absolute;
    top: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.quote-gen div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

button{
    text-align: center;
    padding: 10px;
    background: brown;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}